@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*{
  font-family: "Josefin Sans", sans-serif;
}
body{
  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}
.about-container{
  animation: fadeIn 1s ease-out forwards;
  margin: 10% 5%;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-sectionright {
  animation: fadeIn 1s ease-out forwards;
  background-size: cover;
  background-position: center;
  padding: 5%;
  text-align: center;
}

.image-textright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  flex: 1;
  margin-right: 20px;
}

.image img {
  max-width: 70%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
  flex: 1;
  text-align: left;
}

.text h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 900;
}

.text p {
  font-size: 18px;
  line-height: 1.6;
}

/* left section */
.about-sectionleft {
  animation: fadeIn 1s ease-out forwards;
  background-size: cover;
  background-position: center;
  padding: 5% ;
  text-align: center;
}

.image-textleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.imageleft {
  flex: 1;
  margin-right: 20px;
}

.imageleft img {
  max-width: 70%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textleft {
  flex: 1;
  text-align: left;
}

.textleft h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 900;
}

.textleft p {
  font-size: 18px;
  line-height: 1.6;
}
/* CSS for small screens (e.g., mobile devices) */
@media (max-width: 858px) {
  .about-container {
    margin: 20% 5%;
}
}

@media only screen and (max-width: 600px) {
  .about-container {
    margin: 35% 5%;
}
}