{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-ABCDEF..." crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'Css/product.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <div class="product-container">
      <div class="cat-container">
          <h1>Categories</h1>
          <a href="#Cloth"><button class="button-Cloth" role="button">Cloths</button></a>
          <a href="#Makeup"><button class="button-Cloth" role="button">Makeup</button></a>
          <a href="#Shoes"><button class="button-Cloth" role="button">Shoes</button></a>
          <a href="#Skin"><button class="button-Cloth" role="button">Skin</button></a>
          <a href="#Hair"><button class="button-Cloth" role="button">Hair</button></a>
      </div>
      <section>
        <div class="heading" id="Cloth">
            <h1>Cloth</h1>
        </div>
        <div class="card-container">
          {% for product in product %}
        {% if product.category == "Cloth" %}
          <div class="card-product" data-category="Cloth">
              <img src="{{product.image}}" alt="{{product.product_name}}">
            <div class="card-content">
              <h2>{{product.product_name}}</h2>
              <p>Rs. {{product.price}}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <button class="load-more-btn" data-category="Cloth">Load More</button>
        <div class="heading" id="Makeup">
            <h1>Makeup</h1>
        </div>
        <div class="card-container">
          {% for product in product %}
        {% if product.category == "Makeup" %}
          <div class="card-product" data-category="Makeup">
              <img src="{{product.image}}" alt="{{product.product_name}}">
            <div class="card-content">
              <h2>{{product.product_name}}</h2>
              <p>Rs. {{product.price}}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <button class="load-more-btn" data-category="Makeup">Load More</button>
        <div class="heading" id="Shoes">
            <h1>Shoes</h1>
        </div>
        <div class="card-container">
          {% for product in product %}
        {% if product.category == "Shoes" %}
          <div class="card-product" data-category="Shoes">
              <img src="{{product.image}}" alt="{{product.product_name}}">
            <div class="card-content">
              <h2>{{product.product_name}}</h2>
              <p>Rs. {{product.price}}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <button class="load-more-btn" data-category="Shoes">Load More</button>
        <div class="heading" id="Skin">
            <h1>Skin</h1>
        </div>
        <div class="card-container">
          {% for product in product %}
        {% if product.category == "Skin" %}
          <div class="card-product" data-category="Skin">
              <img src="{{product.image}}" alt="{{product.product_name}}">
            <div class="card-content">
              <h2>{{product.product_name}}</h2>
              <p>Rs. {{product.price}}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <button class="load-more-btn" data-category="Skin">Load More</button>
        <div class="heading" id="Hair">
            <h1>Hair</h1>
        </div>
        <div class="card-container">
          {% for product in product %}
        {% if product.category == "Hair" %}
          <div class="card-product" data-category="Hair">
              <img src="{{product.image}}" alt="{{product.product_name}}">
            <div class="card-content">
              <h2>{{product.product_name}}</h2>
              <p>Rs. {{product.price}}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <button class="load-more-btn" data-category="Hair">Load More</button>
        </section>
    </div>
      {% include "footer.html" %}
</body>
<script src="{% static 'Js/product.js' %}"></script>
<script>
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  </script>
</html>